<!--
<div class="container">
    <h2>Gestion des Adhésions</h2>
    <form (ngSubmit)="ajouterAdherent()">
      <input type="text" placeholder="Nom" [(ngModel)]="nouvelAdherent" name="nom" required>
      <input type="number" placeholder="Cotisation" [(ngModel)]="nouvelAdherent.cotisation" name="cotisation" required>
      <button type="submit" class="btn btn-primary">Ajouter</button>
    </form>
    <ul>
      <li *ngFor="let adherent of adherents">
        {{ adherent.nom }} - Cotisation : {{ adherent.cotisation }} €
      </li>
    </ul>
  </div>
-->



  <!-- Section Adhesion -->
  <div class="tab-pane fade show active" id="adhesionModal" role="tabpanel">
    <app-navbar></app-navbar>
    <div class="e-panel card">
      <div class="card-body">
        <!-- Bouton pour Ajouter un Adherent -->
        <button class="btn btn-success mb-3" (click)="resetSelectedAdhesion(); openModal()">Ajouter Adherent</button>
  
        <!-- Tableau des étudiants -->
        <div class="table-responsive mt-4">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>#</th>
                <th>Matricule</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Age</th>
                <th>Montant Inscription (FCFA)</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let adhesion of adhesionList">
                <td><input type="checkbox" [id]="'adhesion-' + adhesion.id"></td>
                <td>{{ adhesion.matricule || 'Non défini' }}</td>
                <td>{{ adhesion.nom || 'Non défini' }}</td>
                <td>{{ adhesion.prenom || 'Non défini' }}</td>
                <td>{{ adhesion.age || 'Non défini' }}</td>
                <td>{{ adhesion.montantAdhesion ? adhesion.montantAdhesion + ' FCFA' : 'Non défini' }}</td>
                <td>
                  <button class="btn btn-sm btn-primary" (click)="editAdhesion(adhesion); openModal()">Modifier</button>
                  <button class="btn btn-sm btn-danger" (click)="deleteAdhesion(adhesion.id)">Supprimer</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
  
        <!-- Modale pour Ajouter/Modifier un Adhérent-->
        <div class="modal fade" id="adhesion" tabindex="-1" aria-labelledby="adhesionModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="adhesion">{{ selectedAdhesion?.id ? 'Modifier l\'Adhesion' : 'Ajouter un Adherent' }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form (ngSubmit)="selectedAdhesion?.id ? updateAdhesion() : createAdhesion(selectedAdhesion)">
                  <div class="form-group">
                    <label for="matricule">Matricule</label>
                    <input type="text" class="form-control" id="matricule" [(ngModel)]="selectedAdhesion.matricule" name="matricule" required>
                  </div>
                  <div class="form-group">
                    <label for="nom">Nom</label>
                    <input type="text" class="form-control" id="nom" [(ngModel)]="selectedAdhesion.nom" name="nom" required>
                  </div>
                  <div class="form-group">
                    <label for="prenom">Prénom</label>
                    <input type="text" class="form-control" id="prenom" [(ngModel)]="selectedAdhesion.prenom" name="prenom" required>
                  </div>
                  <div class="form-group">
                    <label for="age">âge</label>
                    <input type="text" class="form-control" id="age" [(ngModel)]="selectedAdhesion.age" name="age" required>
                  </div>
                  <div class="form-group">
                    <label for="montantAdhesion">Montant Inscription (FCFA)</label>
                    <input type="number" class="form-control" id="montantAdhesion" [(ngModel)]="selectedAdhesion.montantAdhesion" name="montantAdhesion" required>
                  </div>
                  <button type="submit" class="btn btn-primary mt-3">{{ selectedAdhesion?.id ? 'Mettre à jour' : 'Ajouter' }}</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  