<app-navbar></app-navbar>
<div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Nombre d'Adhésions</h5>
            <p class="card-text">{{ adhesionCount }}</p>
          </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Nombre de Bénéficiaires</h5>
            <p class="card-text">{{ beneficiaireCount }}</p>
          </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Nombre de Cotisations</h5>
            <p class="card-text"></p>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row mt-4">
      <div class="col-md-12">
        
<!--
        <canvas id="dashboardChart" baseChart
          [datasets]="chartData.datasets"
          [labels]="chartData.labels"
          [options]="chartOptions"
          [type]="chartType">
        </canvas>
      -->
<!--   
</div>
    </div>
  </div>
-->  
